<h1><%= @meeting.name %></h1>

<% if @meeting.individuals %>
  <h3>People of <%= @meeting.name %></h3>
  <ul>
    <% @meeting.individuals.each do |individual| %>
      <li><%= link_to "#{individual.first_name} #{individual.last_name}", meeting_individual_path(individual) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Add individual to #{@meeting.name}", new_meeting_individual_path(@meeting) %>
