<div class="row">
  <div class="small-8 small-centered medium-6 columns text-center display-container">

    <h1>Results for &#8220;<%= params["Search"] %>&#8221;</h1>

    <% if @search_results.empty? %>
      <p>No results found. Please try another search.</p>
    <% else %>
      <ul class="no-bullet" id="search-results">
        <% @search_results.each do |result| %>
          <li><%= multisearch_result_filter(result) %></li>
        <% end %>
      </ul>
    <% end %>

    <%= link_to "Back to dashboard", dashboard_path %>
  </div>
</div>
