<div class="row">
  <div class="small-8 small-centered medium-6 columns text-center display-container">

    <h1><%= @group.name %></h1>

    <p><%= @group.description %></p>

    <%= link_to "Back to #{@meeting.name}", meeting_path(@meeting) %>
  </div>
</div>
