<div class="row home-columns">
  <div class="small-4 columns">
    <h1>New Meetings</h1>
    <img class="meeting-column-img" src="https://joshuapaulsmith.files.wordpress.com/2012/08/37f5d-quaker1_crop.jpg" />
    <p>Proin efficitur a orci eu efficitur. Pellentesque euismod arcu non nibh lobortis, non rutrum neque condimentum. Quisque purus mi, rhoncus a arcu a, lacinia elementum turpis. Vivamus volutpat sodales dui a condimentum. Integer fringilla vel orci ac auctor. Donec ultrices enim lorem, ut consequat orci aliquam et. Phasellus sed ipsum luctus, fringilla purus in, elementum mi. Integer ac ornare enim. Pellentesque in imperdiet felis, at convallis leo. Praesent ac varius sem.</p>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur imperdiet venenatis elit ac tincidunt. Vestibulum porttitor justo commodo mi pharetra, non varius dolor scelerisque. Aliquam nibh arcu, mollis id ex non, tempor gravida eros.</p>
  </div>
  <div class="small-4 columns">
    <h1>Fresh Outreach</h1>
    <img class="meeting-column-img" src="http://queergrace.com/wp-content/uploads/2015/07/quaker-meeting-philip-greenspun.jpg" />
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur imperdiet venenatis elit ac tincidunt. Vestibulum porttitor justo commodo mi pharetra, non varius dolor scelerisque. Aliquam nibh arcu, mollis id ex non, tempor gravida eros.</p>
    <p>Nullam consectetur ligula ac lacus viverra, id bibendum ipsum feugiat. Quisque non magna ultrices, fringilla libero et, viverra augue. Vestibulum dictum, libero non sollicitudin rutrum, erat lorem accumsan diam, ac mollis magna sapien ac turpis.</p>
    <p>Proin efficitur a orci eu efficitur. Pellentesque euismod arcu non nibh lobortis, non rutrum neque condimentum. Quisque purus mi, rhoncus a arcu a, lacinia elementum turpis. Vivamus volutpat sodales dui a condimentum. Integer fringilla vel orci ac auctor. Donec ultrices enim lorem, ut consequat orci aliquam et. Phasellus sed ipsum luctus, fringilla purus in, elementum mi. Integer ac ornare enim. Pellentesque in imperdiet felis, at convallis leo. Praesent ac varius sem.</p>
  </div>
  <div class="small-4 columns">
    <h1>Friendship</h1>
    <img class="meeting-column-img" src="http://www.kierantimberlake.com/files/pages/12/meeting_04.jpg" />
    <p>Nullam consectetur ligula ac lacus viverra, id bibendum ipsum feugiat. Quisque non magna ultrices, fringilla libero et, viverra augue. Vestibulum dictum, libero non sollicitudin rutrum, erat lorem accumsan diam, ac mollis magna sapien ac turpis.</p>
    <p>Proin efficitur a orci eu efficitur. Pellentesque euismod arcu non nibh lobortis, non rutrum neque condimentum. Quisque purus mi, rhoncus a arcu a, lacinia elementum turpis. Vivamus volutpat sodales dui a condimentum. Integer fringilla vel orci ac auctor. Donec ultrices enim lorem, ut consequat orci aliquam et. Phasellus sed ipsum luctus, fringilla purus in, elementum mi. Integer ac ornare enim. Pellentesque in imperdiet felis, at convallis leo. Praesent ac varius sem.</p>
  </div>
</div>
