<div class="row">
  <div class="small-12 columns">
    <%= image_tag "MfW.jpg", class: "home-image" %>
  </div>
</div>

<div class="row small-11 small-center display-container">
  <div class="small-4 columns">
    <h1>Connect</h1>
    <div class="text-center">
      <i class="fa fa-handshake-o home-icon" aria-hidden="true"></i>
    </div>
    <p>Life in community is amazing. It's also a lot of hard work. A healthy congregation has lots of moving pieces - friendships, shared work, family, and connections with the wider community. It can be a challenge to keep track of it all.</p>
    <p>That's where QuakerCRM comes in. This website is a free resource that allows Quaker leaders to keep track of the people, places, and relationships that hold their Meetings together. <%= link_to "Create your free account now to get started.", new_user_registration_path %></p>
  </div>
  <div class="small-4 columns">
    <h1>Care</h1>
    <div class="text-center">
      <i class="fa fa-universal-access home-icon" aria-hidden="true"></i>
    </div>
    <p>Caring for others can be complicated. Most meetings use a plethora of spreadsheets, address books, and even personal cell phone directories to keep track of the people in their community. QuakerCRM gathers all of your critical information into one place. Providing a simple, interactive way to manage your relationships, pastoral care is vastly simplified.</p>
  </div>
  <div class="small-4 columns">
    <h1>Grow</h1>
    <div class="text-center">
      <i class="fa fa-users home-icon" aria-hidden="true"></i>
    </div>
    <p>Growing meetings need a way to keep track of everyone who walks in the door, and plan for new forms of outreach. Quaker CRM makes this easy. Whether you're growing a social justice ministry or holding events in your meeting space, Quaker CRM helps Meetings plan for growth.</p>
    <p>As your Meeting grows, Quaker CRM grows with you. Add meetings, individuals, and groups whenever you need to. One-click updating is intuitive and straightforward, regardless of your comfort level with technology.</p>
  </div>
</div>
